root = true

# Unix-style line endings, newline ending in every file, trim trailing whitespace
[*]
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true

# Default character set
[*.{php,css,scss,js}]
charset = utf-8

# Tabs
[*.{html,php,css,scss}]
indent_style = tab

# Indents
[*.js]
indent_style = space
indent_size  = 2
